@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?dqu23a');
    src:  url('fonts/icomoon.eot?dqu23a#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?dqu23a') format('truetype'),
      url('fonts/icomoon.woff?dqu23a') format('woff'),
      url('fonts/icomoon.svg?dqu23a#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-header:before {
    content: "\f1dc";
  }
  .icon-image:before {
    content: "\e90d";
  }
  .icon-quotes-left:before {
    content: "\e977";
  }
  .icon-list-numbered:before {
    content: "\e9b9";
  }
  .icon-list2:before {
    content: "\e9bb";
  }
  .icon-link:before {
    content: "\e9cb";
  }
  .icon-bold:before {
    content: "\ea62";
  }
  .icon-underline:before {
    content: "\ea63";
  }
  .icon-italic:before {
    content: "\ea64";
  }
  .icon-embed:before {
    content: "\ea7f";
  }
  .icon-embed2:before {
    content: "\ea80";
  }
  
/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-embed2 {
  width: 1.25em;
}

.icon-plus {
  width: 0.7857142857142857em;
}

.icon-search {
  width: 0.9285714285714285em;
}

.icon-star {
  width: 0.9285714285714285em;
}

.icon-star-o {
  width: 0.9285714285714285em;
}

.icon-user {
  width: 0.7142857142857142em;
}

.icon-clock-o {
  width: 0.8571428571428571em;
}

.icon-book1 {
  width: 0.9302142857142857em;
}

.icon-thumbs-o-up {
  width: 0.8571428571428571em;
}

.icon-caret-down {
  width: 0.5714285714285714em;
}

.icon-file-text-o {
  width: 0.8571428571428571em;
}

.icon-angle-right {
  width: 0.33928571428571425em;
}

.icon-smile-o {
  width: 0.8571428571428571em;
}

.icon-rss-square {
  width: 0.8571428571428571em;
}

/*------------------------------------字体图标--------------------*/
/* ---------------------------------导航栏----------------------- */
  
body{
    background-color: rgb(244, 245, 245);

}
nav{
    width: 100%;
    height: 73px;
    background-color: #fff;
    border-bottom: 1px solid rgb(241, 241, 241);
}
.topbox{
    width:1382.4px;
    height: 73px;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 1px solid rgb(241, 241, 241);

}
.logo{
    /* display: inline-block; */
    width: 107px;
    height: 22px;
    /* margin: auto 0; */
    /* line-height: 73px; */
    float: left;
    margin-top: 25.5px;

}
.navbtn{
    display: flex;
    float: left;
    height: 22px;
    width: 500px;
    /* background-color: red; */
    justify-content: space-between;
    margin-left: 30px;
    background-color: #fff;

}
.navbtn li{
    /* float: left; */
    display: flex;
    height: 73px;
    font-size: 15px;
    line-height: 73px;
    background-color: #fff;
    font-family: 'icomoon';
}

.navbtn li a{
    background-color: #fff;
    border-bottom: 1px solid rgb(241, 241, 241);
    color: rgb(81,87,103);
}
.navbtn .frinav a,.nav_sec .frinav a,.art_nav .frinav a{
    color: rgb(30, 128, 255);
}
.downline:hover{
    border-bottom: 2px solid rgb(30,128,255);   
}
.navbtn li a:hover{
    color: rgb(37,41,51);
}
.kfza{
    background-color: #fff;
}
.kfz{
    float: left;
    margin-left: 30px;
    margin-top: 17px;
    width: 120px;
    height: 38px;
}
.scarch{
    height: 35px;
    width: 254px;
    margin-top: 18px;
    margin-left: 27px;
    font-family: 'icomoon';
    background-color: #fff;
    border-radius: 4px;
    border: 1.5px solid rgb(194,200,209);
    float: left;
}
input{
    float: left;
    width: 200px;
    height: 28px;
    padding-left: 10px;
    color: rgb(192,196,203);
    /* border: 2px solid black; */
    background-color: #fff;
}
button{
    float: left;
    width: 40px;
    margin-left: 10px;
    height: 30px;
    margin-top: 1px;
    border-radius: 2px;
    font-family: 'icomoon';
}
.creater{
    float: left;
    height: 35px;
    width: 110px;
    background-color: rgb(30,128,255);
    margin-top: 18px;
    margin-left: 15px;
    color: #fff;
    font-size: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}
.c_down{
    float: left;
    height: 35px;
    width: 15px;
    margin-top: 18px;
    margin-left: 0.8px;
    font-size: 12px;
    background-color: rgb(30,128,255);
    color: #fff;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.creater:hover,.c_down:hover{
    background-color: rgb(17,113,238);
}
.huiyuanlogo{
    float: left;
    height: 33px;
    width: 61px;
    margin-top: 20px;
    margin-left: 20px;
    background: url(../images\huiyuan1.png);
}
.log{
    /* float:left; */
    position: absolute;
    width: 70px;
    height: 35px;
    margin-top: 18px;
    border: 1px solid rgb(179, 213, 255);
    background-color: rgb(244,249,255);
    color: rgb(28,141,255);
    border-radius: 4px;
    font-weight: 400;
    font-size: 15px;
}

.navlow{
    width: 100%;
    height: 59px;
    background-color: #fff;
    /* border-bottom: 1px solid rgb(241, 241, 241); */
    box-shadow: 0.5px 1px rgb(210, 210, 210);
    position: relative;
    background-color: #fff;
}
.nav_sec{
    display: flex;
    position: absolute;
    left: 303.8px;    
    top: 15%;
    justify-content: space-between;
    width: 500px;
    height: 40px;
    line-height: 40px;
    font-size: 14.5px;
    background-color: #fff;
}
.nav_sec li,.nav_sec a{
    background-color: #fff;
}
.nav_sec li a{
  color: rgb(113,119,124);
}
.nav_sec li a:hover{
    color: rgb(17,113,238);
}
/* ------------------------------------------导航栏-------------------- */
/* ------------------------------------------轮播图------------------- */
.lunbotu{
    position: relative;
    width: 100%;
    height: 380px;
    /* background-color: transparent; */
    margin-top: 15px;
    padding-top: 15px;
    overflow: hidden;
}
.show{
    display: flex;
    height: 350px;
    width: 1100px;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
    position: relative;
}
.show ul{
    position: absolute;
    left: -590px;
    width: auto;
    display: flex;  
}
.show ul li{
    float: left;
    width: 740px;
    margin-right: 15px;
    height: 350px;
}
.show li img{
    float: left;
    width: 740px;
    height: 350px;
    border-radius: 15px;
}

.lbtn{
    position: absolute;
    top: 15px;
    left: 210px;
    width: 80px;
    height: 350px;
    background-color: #847c7c36;
    text-align: center;
    padding-top: 120px;
}
.down a{
    font-size: 50px;
}
.rbtn{
    position: absolute;
    width: 80px;
    right: 210px;
    top: 15px;
    font-size: 50px;
    height: 350px;
    background-color: #847c7c36;
    text-align: center;
    padding-top: 120px;
}
.lbtn .down a:hover
{
    color: black;
}
.rbtn .up a:hover{
    color: black;
}
.banxin{
    width: 1000px;
    margin: 0 auto;
}
.main{
    margin-top: 10px;
    height: 800px;
    /* background-color: #fff; */
    border-radius: 2px;
}
.article{
    float: left;
    width: 730px;
    height: inherit;
    background-color: #fff;
}
.art_nav{
    width: inherit;
    height: 55px;
    background-color: #fff;
    border-bottom: 2px solid rgb(244,244,244);
}
.art_nav ul{
    margin-left: 20px;
    display: flex;
    background-color: #fff;
    /* border-bottom: 1px solid black; */

}
.art_nav ul li{
    width: 60px;
    height: 25px;
    margin-top: 17px;
    background-color: #fff;
    /* border-bottom: 1px solid black; */

}
.art_nav ul .needgang{
    border-left: 2px solid rgb(234,234,234);

}
.art_nav li  a{
    padding-left: 15px;
    font-size: 14px;
    line-height: 25px;
    color:rgb(144,144,144);
}
.art_nav li a:hover{
    color:rgb(0,127,255);
}
.box{
    position: relative;
    float: left;
    width: 730px;
    height: 145px;
    /* background-color: rebeccapurple; */
    border-bottom: 1px solid rgb(241,242,245);
}
.box .boxinfo ul li{
    float: left;
    margin-left:20px;
    margin-top: 15px;
    font-size: 13.5px;
    border-right: 1px solid rgb(229,230,235);
    padding-right: 10px;
}

.boxinfo .topti{
    float: left;
    width: 730px;
}
.boxinfo .aname{
    color: rgb(78,89,105);
}
.boxinfo .atime{
    color: rgb(134,144,156);
}
.boxinfo  .topti .atitle{
    border: none;
    color: rgb(134,144,156);
}
.box h3{
    width: 730px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 17px;
    color: black;
}
.box ul li{
    color: rgb(78,89,105);
}
.box h4{
    float: left;
    margin-left: 20px;
    margin-top: 8px;
    color: rgb(134,144,156);
    font-weight: 400;
    font-size: 14px;
}
.box ul .look{
    position: absolute;
    top: 110px;
    left: 20px;
    font-size: 13px;
    font-family: 'icomoon';
}
.box ul .good{
    top: 110px;
    position: absolute;
    left: 83px;
    font-size: 13px;
    font-family: 'icomoon';
}
.box ul .say{
    position: absolute;
    left: 141px;
    top: 110px;
    font-size: 13px;
    font-family: 'icomoon';
}

.art_main .box a:hover,
.box .topti .aname:hover,
.box .topti .atitle:hover{
    color: rgb(17,113,238);
}
.main .article .art_main .box:hover{
    background-color: rgb(250,250,250);
}
.art_main .box img{
    position: absolute;
    width: 120px;
    height: 90px;
    top: 25px;
    right: 20px;
}








.other{
    float: left;
    width: 250px;
    /* height: inherit; */
    margin-left: 20px;
    /* background-color: #fff; */
    background-color: rgb(244, 245, 245);

}
.greeting{
    position: relative;
    width: inherit;
    height: 110px;
    background-color: #fff;
}
.greeting span{
    position: absolute;
    left: 15px;
    top: 20px;
    font-size: 25px;
    font-family: 'icomoon';
    color: rgb(255,207,139);
}
.greeting h3{
    position: absolute;
    font-size: 22px;
    font-weight: 400;
    left: 60px;
    top: 22px;
}
.greeting h4{
    bottom: 20px;
    position: absolute;
    font-size: 15px;
    left: 60px;
    font-weight: 300;
}
.qiandao{
    position: absolute;
    width: 70px;
    height: 35px;
    right: 15px;
    top: 20px;
    border-radius: 10px;
    line-height: 31px;
    padding-left: 12px;
    font-size: 14px;
    border: 1.5px solid rgb(32,129,255);
    color: rgb(32,129,255);
}
.qiandao:hover{
    background-color: rgb(232,243,255);
}
.guanggao1 img,.guanggao2 img ,.guanggao3 img{
    float: left;
    width: 250px;
}
.guanggao1 img,.guanggao2 img{
    height: 210px;
    margin-top: 20px;
}
.guanggao3 img{
    /* width: 230px; */
    margin-top: 20px;
    height: 80px;
}
.writer{
    float: left;
    margin-top: 15px;
    width: 250px;
    background-color: #fff;
}
.writerhd{
    height: 34px;
    border-bottom: 1px solid rgb(244, 245, 245);
    line-height: 34px;
    padding-left: 25px;
    font-family: 'icomoon';
}
.writerhd h4{
    font-size: 14.5px;
    font-weight: 350;
}
.writer li{
    float: left;
}
.writer li img{
    float: left;
    margin-top: 15px;
    margin-bottom: 7.5px;
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.writerinfo{
    float: left;
}
.writerinfo h3{
    margin-left: 10px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}
.writerinfo h4{
    margin-left: 10px;
    font-size: 15px;
    font-weight: 300;
    margin-top: -3px;
}
.writer ul li:hover{
    background-color: rgb(251,251,251);
}
.wanzhengbd{
    float: left;
    width: inherit;
    border-top: 1px solid rgb(244, 245, 245);
    text-align: center;
    height: 40px;
    padding-top: 10px;
}
.wanzhengbd p{
    font-size: 15px;
    color: rgb(30,142,255);
}
.other_o{
    width: 250px;
}
.other_o ul li img{
    float: left;
    width: 250px;
    height: 64px;
}
.other_o .fripho img{
    margin-top: 10px;
}
.webinfo{
    position: relative;
    float: left;
    margin-top: 10px;
}
.webinfo ul li{
    float: left;    
    padding-top: 5px;
    margin-right: 8px;
    margin-top: -3px;
}
.webinfo ul li a:hover{
    color: rgb(30,142,255);
}
.webinfo ul a .lj1,.webinfo ul a .lj2{
    position: absolute;
    width: 28px;
    height: 28px;
    float: left;
    border-radius: 25%;
}
.lj1{
    left: 35px;
    top: 210px;
}
.lj2{
    left: 0px;
    top: 210px;
}